/* Stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Great+Vibes&family=Handlee&family=Rubik+Glitch&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --bg-color: #ffccd5;
    --bg2-color: #fff0f3;
    --heading: #c9184a;
    --text-color: #590d22;
    --button: #a4133c;
    --white: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--primary-color);
    background-color: var(--bg-color);

    margin: 0;
}